<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" type="text/css" href="/css/productDetail.css">
</head>
<body>
    <div class="product-info">
        <h1><%= product.title %></h1>
        <p><%= product.description %></p>
        <p>
            URL: <a href=<%= product.url %>><%= product.url %></a>
        </p>
    </div>
</body>
</html>